<h3>Register:</h3>

<%= form_for @user do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <div class="alert alert-danger">
                The form contains <%= pluralize(@user.errors.count, 
                "errors") %>
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        </div>
    <% end %>
    
    <div class="form-group">
        <%= f.label :username %></br>
        <%= f.text_field :username %></br>
    </div>
    
    <div class="form-group">
        <%= f.label :password %></br>
        <%= f.password_field :password %></br>
    </div>
    
    <div class="form-group">
        <%= f.label :password_confirmation %></br>
        <%= f.password_field :password_confirmation %></br>
    </div>
    
    <%= f.submit 'Register', class: 'btn btn-default' %>
<% end %>