<h3>Create room</h3>
<%= form_for @room do |f| %>

    <% if @room.errors.any? %>
        <div id="error_explanation">
            <div class="alert alert-danger">
                The form contains <%= pluralize(@room.errors.count, 
                "errors") %>
                <ul>
                <% @room.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label :name %></br>
        <%= f.text_field :name %></br>
    </div>
    
    <div class="form-group">
        <label>Coins at stake</label></br>
        <%= f.number_field :coins_per_player %></br>
    </div>
    
    <%= f.submit 'Create Room', class: 'btn btn-default' %>
<% end %>